.section-clients {
    padding: 70px 0 144px;

    @media (min-width: 768px) {
        padding: 70px 0 56px;
    }
    
    @media (min-width: 1200px) {
        padding: 103px 0 78px;
        background-image: url("../img/clients/bg-clients.svg");
        background-repeat: no-repeat;
        background-position: center 156px;
        background-size: auto;
    }

}

.section-clients__title {
    margin-bottom: 33px;
    text-align: center;

    @media (min-width: 768px) {
        margin-bottom: 21px;
    }
    
    @media (min-width: 1200px) {
        margin-bottom: 68px;
    }

}

.section-clients__header {
    margin-bottom: 33px;
    text-align: center;

    @media (min-width: 768px) {
        margin-bottom: 66px;
    }
    
    @media (min-width: 1200px) {
        margin-bottom: 83px;
    }

}

.section-clients__carousel {
    max-width: 752px;
    margin: 0 auto;
}


